* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: seashell;
  font-family: Helvetica, san-serif;
}

div {
  margin: 0px auto;
  width: 1750px;
}

div#header {
  background-color: black;
  margin-top: 24px;
  padding: 0px 16px;
  height: 48px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: relative;
  z-index:2;
  opacity: 0.92;
}

ul#navmenu, ul.sub1, ul.sub2, ul.sub3 {
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 0.5px;
}

i.itnav {
  font-size: 72%;
}

ul#navmenu li {
  width: 250px;
  text-align: center;
  position: relative;
  float: left;
}

ul#navmenu a {
  text-decoration: none;
  display: block;
  width: 250px;
  height: 48px;
  line-height: 48px;
  background-color: black;
  color: lightgray;
}

ul#navmenu li:hover > a {
  background-color: gray;
  color: black;
}

ul#navmenu li:hover a.e:hover {
  background-color: lightgray;
  color: black;
}

ul#navmenu li:hover a.h:hover {
  background-color: green;
  color: yellow;
}

ul#navmenu ul.sub1 {
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
}

ul#navmenu ul.sub2 {
  display: none;
  position: absolute;
  top: 0px;
  left: 250px;
}

ul#navmenu ul.sub3 {
  display: none;
  position: absolute;
  top: 0px;
  right: 250px;
}

ul#navmenu li:hover .sub1 {
  display: block;
  border-top: 3.2px solid darkgray;
}

ul#navmenu .sub1 li:hover .sub2,
ul#navmenu .sub1 li:hover .sub3 {
  display: block;
}

div#wrapper, div#aside1, div#aside2 {
  position: relative;
  z-index: 1;
  background-color: lightgray;
  border: 0.5px 2px 2px 0.5px solid lightgray;
  border-radius: 9px;
  box-shadow: inset -1.2px -1.2px 12px black;
}

div#wrapper {
  top: 24px;
  padding: 32px 0px 32px 24px;
  margin-bottom: 48px;
  width: 1720px;
}

div#aside1 {
  width: 800px;
  height: 154px;
  float: right;
}

div#aside2 {
  margin-top: 24px;
  padding: 32px;
  width: 736px;
  height: 324px;
  float: right;
}

h4 {
  letter-spacing: 0.2px;
  font-style: oblique;
  text-indent: 24px;
}

ol {
  margin: 16px 24px;
  font-size: 11px;
}

ol li {
  line-height: 24px;
  color: darkred;
}

li strong {
  font-size: 120%;
  letter-spacing: 0.5px;
  color: darkblue;
}

div#background {
  margin: 0;
  width: 900px;
  height: 574px;
  position: relative;
  float: left;
  background-image: url("pix/background.png");
  background-repeat: no-repeat;
  background-size: auto;
}

img.one, img.two, img.three, img.four, img.five {
  margin-right: 84px;
}

img.one {
  margin-left: 40px;
}

img.six {
  margin-right: 40px;
}

img {
  margin-top: 12px;
  margin-bottom: 12px;
}

p {
  margin-top: 16px;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.7px;
  font-weight: bold;
  color: darkgreen;
}

ul.content {
  list-style-type: none;
  height: 32px;
}

ul.content li {
  margin-left: 34px;
  width: 220px;
  text-align: center;
  position: relative;
  float: left;
  opacity: 1.12;
}

ul.content li a {
  text-decoration: none;
  display: block;
  width: 220px;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  font-weight: bold;
  background-color: #2b5496;
  color: lightblue;
  letter-spacing: 2.4px;
  border-radius: 9px;
  box-shadow: 4px 4px 2.4px black;
}

ul.content li:hover a:hover {
  background-color: green;
  color: yellow;
  text-shadow: 1.8px 1.8px 2.5px black;
}

ul.content li:hover a:active {
  font-size: 17.12px;
  box-shadow: inset 3.6px 3.6px 1.4px black;
}

footer {
  text-align: right;
  font-size: 84%;
  color: brown;
  letter-spacing: 0.4px;
  font-style: oblique;
}
