@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

* {
  margin: 0;
  padding: 0;
  background-color: white;
}
