@import url('../!reset.css');

* { background-color: aliceblue; }


/* BACKGROUND */
/* ======================== */

div#navbar,
.sub > li,
.nav a  { background-color: black; }

fieldset,
th, th span,
td, td span,
td a, td a span,
td.unq div,
td.unq ul li,
td.unq ul li a { background-color: azure; }

legend { background-color: darkblue; }


/* COLOR */
/* ======================== */

h3 { color: darkgreen; }

p { color: darkred; }

.nav a.h,
.nav a.e { color: lightgray; }
.nav a.h:hover { color: yellow; }

legend { color: lightgray; }

td { color: #ff8080; }

td a.h,
td a.h:visited { color: darkblue; }
td a.h:hover { color: darkgreen; }

td.unq a.e { color: darkgray; }
