h3 {
  padding-bottom: 2px;
  border-bottom: 2px solid darkgreen;
}

.nav > li > a { border-right: 0.5px solid #202020; }

#rpm a { border-right: none; }

.sub > li > a { border-top: 0.5px solid #202020; }

fieldset {
  border: 1px solid darkblue;
  border-radius: 12px;
}

fieldset table {
  border-collapse: collapse;
}

legend {
  border-radius: 16px 8px 16px 8px;
}

th, td { border-bottom: 1.5px solid lightblue; }

td.unq { border: none; }

td.unq ul li,
td.unq ul li a { border-bottom: 1px solid lightblue; }
