@import url('background_text-color.css');
@import url('border.css');
@import url('font_text.css');

/* CURSOR */
/* ======================== */

h3, p, th, tr, legend { cursor: default; }

/* MARGIN & PADDING */
/* ======================== */

body { margin: 0 auto; }

div { margin-top: 16px; }

div#user {
  margin-top: 24px;
  padding: 0;
}

h3 { margin: 7px; }

p { margin-bottom: 7px; }

.nav a { padding: 7px 14px; }

fieldset {
  padding: 24px 32px 32px;
  margin-top: 27px;
}

legend { padding: 4px 32px; }

th, td { padding: 6.2px 12px; }

td.unq ul li,
td.unq ul li a {
  margin-top: 6.4px;
  padding: 6.4px 0;
}

table.add { margin-top: 7px; }

/* LIST STYLE */
/* ======================== */

ul { list-style-type: none; }
