/* VK Services, LLC
   v2.0 | 20180813
   License: none (public)
*/

@import url('reset_EM-2.0.css');

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  width: 960px;
  margin: 0 auto;
  background-image: repeating-radial-gradient(azure 15%, aliceblue 25%);
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

/* exclude Mozilla Firefox */
@-moz-document url-prefix() {
  body {
    display: none;
  }
}
/* exclude Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    display: none;
  }
}
/* exclude Microsoft Edge */
_:-ms-lang(x), _:-webkit-full-screen, body { display: none; }

/* Header */

header {
  margin-top: 24px;
  text-align: center;
}

header h2 {
  padding-bottom: 9px;
  border-bottom: 2px solid darkgreen;
  font-size: 120%;
  font-weight: bold;
  color: darkgreen;
  text-shadow: 0.5px 0.5px 1px gray;
  letter-spacing: 1.2px;
}

header h2 span {
  font-size: 67%;
  color: darkred;
  text-shadow: none;
  letter-spacing: 0.24px;
}

/* Navigation: Top */

nav#top {
  margin-top: 24px;
  position: absolute;
  z-index: 2;
  width: 960px;
}

nav#top ul.sub1 > li {
  position: relative;
  float: left;
}

ul.left{
  text-align: left;
}

ul.right {
  text-align: right;
}

nav#top a {
  display: block;
  padding: 7.4px 10.9px;
  background-image: linear-gradient(navy, black);
  color: lightblue;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.4px;
}

nav#top a em {
  font-size: 84%;
  color: lightgray;
}

nav#top a span {
  font-size: 77%;
}

nav#top .sub1 > li > a {
  border-top: 1px solid gray;
}

nav#top a.bl {
  border-left: 1px solid gray;
}

nav#top .sub2 {
  display: none;
}

.sub3 {
  position: absolute;
  top: 33px;
  left: 103.15px;
  display: none;
}

.sub4 {
  position: absolute;
  top: 64.5px;
  left: 103.15px;
  display: none;
}

.sub5 {
  position: absolute;
  top: 96px;
  left: 103.15px;
  display: none;
}

.sub6 {
  position: absolute;
  top: 127.5px;
  left: 103.15px;
  display: none;
}

nav#top .sub1 li:hover .sub2 {
  display: block;
}

nav#top .sub1 li:hover .sub2 li:hover .sub3,
nav#top .sub1 li:hover .sub2 li:hover .sub4,
nav#top .sub1 li:hover .sub2 li:hover .sub5,
nav#top .sub1 li:hover .sub2 li:hover .sub6 {
  display: block;
}

nav#top a.h:hover {
  background-image: linear-gradient(green, black);
  color: yellow;
  text-shadow: 0.4px 0.4px 0.2px lightgray;
}

/* Navigation: Favs */

fieldset.favs {
  position: relative;
  top: 64px;
  padding: 24px 24px 36px 24px;
  background: azure;
  box-shadow: 1.2px 1.2px 8px #888888,
              -0.8px -0.8px 7px #888888;
  border-radius: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

fieldset.favs:hover {
  box-shadow: 0px 0px 16px darkgreen;
}

fieldset.favs legend {
  padding: 6px 32px;
  background: darkblue;
  color: lightblue;
  text-align: center;
  font-size: 78%;
  letter-spacing: 0.62px;
  border-radius: 17px 9px 17px 9px;
  box-shadow: 1.8px 2.4px 7px #888888,
              -0.5px -0.5px 8px #888888;
}

fieldset.favs table {
  margin: 0 auto;
}

fieldset.favs td {
  color: rgba(153, 38, 0, 0.4);
}

fieldset.favs th,
fieldset.favs td {
  padding-top: 7.2px;
  padding-bottom: 7.2px;
  border-bottom: 1px solid lightblue;
  font-family: Roboto, sans-serif;
  line-height: 1.2em;
}

fieldset.favs td.rsp {
  color: darkgray;
  border-bottom: none;
}

fieldset.favs td.rsp ul {
  position: absolute;
  right: 32px;
  z-index: 1;
  display: none;
  margin-top: 12px;
  border-top: 1px solid lightblue;
}

fieldset.favs td.rsp ul li {
  padding: 6.7px 32px;
  background: azure;
  border-bottom: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-left: 1px solid lightblue;
}

fieldset.favs td.rsp:hover ul {
  display: block;
}

fieldset.favs td a.h {
  color: blue;
  cursor: pointer;
}

fieldset.favs th span,
fieldset.favs td span {
  font-size: 84%;
  font-weight: normal;
  letter-spacing: 0.1px;
}

.favs .monit td em {
  color: darkslategray;
}

fieldset.favs td a.h:hover {
  color: darkgreen;
  text-decoration: underline;
}

#hdr th, #hdr td {
  font-weight: normal;
  font-size: 72%;
  color: gray;
}

/* Table Cell x-Paddings */

fieldset.favs th {
  text-align: left;
  padding-left: 24px;
  padding-right: 36px;
}

.favs .urls td {
  padding-left: 64.7px;
  padding-right: 64.7px;
}

.favs .monit td {
  padding-left: 20px;
  padding-right: 20px;
}

#hdr th, #hdr td {
  padding-bottom: 12px;
}

.favs .shcuts1 td {
  padding-left: 26px;
  padding-right: 26px;
}

.favs .shcuts2 td {
  padding-left: 21.7px;
  padding-right: 21.7px;
}

.favs .tools td {
  padding-left: 77px;
  padding-right: 77px;
}
