* {
  font-family: Arial;
}
body {
  margin: 24px auto;
  width: 870px;
}
button {
  width: 320px;
}
table {
  margin-top: 12px;
  border-collapse: collapse;
}
th, td {
  padding: 4px 9px;
  border: 1px solid black;
}
